<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Full Contact View</h1>

<table>
    <tr>
        <td>First Name</td>
        <td>ireh</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>madhuranga</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>0717645590 </br> 0774241286</td>
    </tr>
    <tr>
        <td>Emails</td>
        <td>ireshmw@gmail.com</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>no.524, bodhimaluwa</td>
    </tr>
    <tr>
        <td>Comment</td>
        <td>this is admin account</td>
    </tr>
</table>


<!--<h3>First Name : </h3>-->
<!--<h3>Last Name : </h3>-->
<!--<h3>Phone Numbers : </h3>-->
<!--<h3>Emails : </h3>-->
<!--<h3>Address : </h3>-->

</body>
</html>